################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Module35/.vs/Module35/FileContentIndex/27e008d9-87cb-4a51-81da-1dc542565b3d.vsidx
