################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################


/Module35/.vs
/Module35/.vs/Module35/.vs
