.container {
    display: flex; 
}

.row {
    display: flex; 
    width: 100%; 
}

.side {
    flex: 1;
    padding: 20px; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.main {
    flex: 1; 
    padding: 20px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.main-img {
    max-width: 100%; 
    height: auto; 
}

.form-container {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    
}

.btn {
    display: inline-block; 
    padding: 10px 20px; 
    margin: 5px; 
    font-size: 16px; 
    color: white; 
    background-color: blue; 
    border: none; 
    border-radius: 5px; 
    text-align: center; 
    text-decoration: none;
    cursor: pointer; 
    transition: background-color 0.3s;
}

    .btn:hover {
        background-color: darkblue; 
    }



.background-main {
    background-color: #edeef0;
}

.background-white {
    background-color: white;
}
