.container {
    display: flex; 
}

.row {
    display: flex; 
    width: 100%; 
}

.side {
    flex: 1;
    padding: 20px; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.main {
    flex: 1; 
    padding: 20px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.main-img {
    max-width: 100%; 
    height: auto; 
}

.form-container {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    
}



.background-main {
    background-color: #edeef0;
}

.background-white {
    background-color: white;
}
