﻿@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager;

@model SocialNetwork.ViewModels.MainViewModel

@{
    ViewData["Title"] = "Home Page";
    Layout = "../Shared/_Layout.cshtml";
}

@if (SignInManager.IsSignedIn(User))
{
    <partial name="User" />
}
else
{


        <div class="container">
        <div class="row">
        <div class="side">
        <div class="center">
        <p>Пользуйтесь нашей самой крутой соцсетью! Регистрируйтесь всего за 2 минуты, делитесь мыслями, находите новых друзей.</p>
        </div>
        <img class="main-img" src="http://pngimg.com/uploads/husky/husky_PNG19.png" alt="Хаски" />
        </div>

        <div class="main">
            <div class="form-container">
                <partial name="Login" model="Model.LoginView" />
                <partial name="Register" model="Model.RegisterView" />
            </div>
        </div>
        </div>
        </div>
    }